* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* overflow-x: hidden; */
  /* border: 1px solid red; */
}

.background-color {
  background-color: rgb(255, 249, 249);
}
.card-width {
  width: 50%;
  height: 50%;
}
